# Compiled files and cache folders
__pycache__/
*.py[cod]

# Environment configuration files
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE and editor configuration files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Log files
*.log

# Temporary or testing data files
*.temp
*.tmp
*.cache
*.bak
*.swp

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Git configuration files
.git/
